*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #E5E5CB; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb
https://colorhunt.co/palette/243763ff6e31ffebb7ad8e70
https://colorhunt.co/palette/000000282a3a735f32c69749
*/
/* ------------------------ */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #AD8E70;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3C2A21;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
a{
    text-decoration: none;
    color: unset;
}
/* ------------------------ */
.nav{
background-color: #1A120B;
padding: 10px;
height: 74px;
width: 100%;
z-index: 1;
position: fixed;
box-shadow: 1px 1px 4px #3C2A21;
}
.nav .navimg{
    width: 60px;
    height: 50px;
    float: left;
    margin-left: 100px;
    box-shadow: 2px 2px 6px #D5CEA3;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}
.nav .navimg img{
    width: 100%;
    height: 100%;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}
.nav ul{
    background-color: #1A120B;
    list-style: none;
    color: #D5CEA3;
    float: right;
    margin-right: 100px;
    display: block;
}
.nav ul li{
    background-color: #1A120B;
    display: inline-block;
    margin:12px;
    padding: 2px;
    text-transform: capitalize;
    position: relative;
}
.nav a {
    text-decoration: none;
    color: unset;
    display: inline-block;
    background-color: #1A120B;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
 .nav ul a::before{
    content: " ";
    position: absolute;
    top:24px;
    width: 0px;
    height: 2px;
    background-color: #C69749;
    transition: all .5s ease-out;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    padding: 0;
}
 .nav a:hover::before{
    transition: all .5s ease-out;
    width: 100%;
    padding: 0;
}
.nav .home:hover{
    color:  #C69749 ;
}
/* -------------------end nav ---------------------- */
.header1{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/ww1-1536x864.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
 .overlay{
    background-color: #1a120bc5;
    width: 100%;
    height: 100%;
}
.header1 .headerText{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
}
.header1 .headerText h1{
font-size: 55px;
letter-spacing: 3px;
font-weight: 700;
color: #735F32;
text-transform: uppercase;
}
.header1 .headerText p {
margin: 30px;
color: #D5CEA3;
}
.header1 .headerText button {
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: #C69749;
    color: #3C2A21;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    margin:  0 8px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.header1 .headerText .btn{
    background-color: #735F32;
    display:inline-block;
    color: #D5CEA3;
}
.header1 .headerText button:hover{
   opacity: .8;
}
/* ----------------------  end header section ---------------------- */
.welcome{
   text-align: center; 
   margin: 120px 0;
}
 .title{
    margin: 30px auto;
    text-align: center;
    text-transform: capitalize;
}
 .title .line{
    width: 77px;
    height: 4px;
    background-color: #C69749;
    color: #D5CEA3;
    margin: 8px auto;
 }
.welcome .welcombogbox{
    width: 94%;
    text-align: center; 
    margin: auto;
}
.welcome .welcomeBox{
         text-transform: capitalize;
         margin: 30px ;
         padding: 25px 14px;
         width: 25%;
         display: inline-block;
         border: 1px solid #3C2A21;
         transition:all .8s ease-in-out;
         -webkit-transition:all .8s ease-in-out;
         -moz-transition:all .8s ease-in-out;
         -ms-transition:all .8s ease-in-out;
         -o-transition:all .8s ease-in-out;
         border-radius: 22px;
         -webkit-border-radius: 22px;
         -moz-border-radius: 22px;
         -ms-border-radius: 22px;
         -o-border-radius: 22px;
         position: relative;
}
.welcome .welcomeBox::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 22px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    z-index: -1;
}
.welcome .welcomeBox:hover::after{
    width: 100%;
    height: 100%;
    background-color: #3c2a21ae;
    opacity: 1;
 }
 .welcome .welcomeBox:hover h3 {
color: #D5CEA3;
 }
.welcome .welcomeBox i {
 margin: 12px 0;
 font-size: 30px;
color: #C69749;
}
.welcome .welcomeBox h3 {
 margin: 12px 0;
font-size: 25px;
color: #3C2A21;
}
.welcome .welcomeBox p {
    margin: 20px 0;
    line-height: 1;
    letter-spacing: 1px;
    color: #1A120B;
}
.welcome .welcomeBox a  , .news a{
display: block;
text-decoration: none;
text-transform:capitalize;
color: #C69749;
font-weight: 100;
font-size: 18px;
}
/* -------------------  end welcome section ----------------------- */
.featuer{
margin: 40px 0;
padding: 80px 12px;
background-color: #E5E5CB;
}
.featuer .title h1{
    text-transform: capitalize ;
}
.featuer .featuerbigbox{
    margin: 12px auto;
    text-align: center;
}
.featuerbigbox .featuerbox{
        position: relative;
        width: 25%;
        height:380px;
        display: inline-block;
        margin: 40px;
        transition:all  .6s ease-in-out ;
        -webkit-transition:all  .6s ease-in-out ;
        -moz-transition:all  .6s ease-in-out ;
        -ms-transition:all  .6s ease-in-out ;
        -o-transition:all  .6s ease-in-out ;
}
.featuerbigbox .featuerbox img{
        width: 90%;
        height:90%;
        margin-top: 20px;
        border-radius: 22px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
} 
.featuerbox .featuerupperbox{
    background-color: #1a120bc1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    padding: 12px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    display: none;

    transition:all .6s ease;
    -webkit-transition:all .6s ease;
    -moz-transition:all .6s ease;
    -ms-transition:all .6s ease;
    -o-transition:all .6s ease;
}
.featuerbox:hover .featuerupperbox{
    display: block;
    width: 100%;
    height: 100%;
    /* transition:all .6s ease;
    -webkit-transition:all .6s ease;
    -moz-transition:all .6s ease;
    -ms-transition:all .6s ease;
    -o-transition:all .6s ease; */
}
.featuerbox .featuerupperbox h5{
font-size: 18px;
font-weight: 100;
text-transform: uppercase;
color: #C69749;
margin-top: 120px;
}
.featuerbox .featuerupperbox p{
margin: 12px;
font-size:18px;
font-weight: 700;
color: #D5CEA3;
}
.featuerbox .featuerupperbox i{
    background-color: #C69749;
    color: #1A120B;
    font-size: 18px;
    padding: 11px;
    cursor: pointer;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
/* -------------------  end featuer section ----------------------- */
.offer{
    margin: 120px auto;
}
.offer .offerbigbox{
    margin: 22px auto;
    text-align: center;
}
.offer .offerbigbox .offerBox{
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    display: inline-block;
    width: 25%;
    height: 160px;
    border:1px solid #C69749;
    color: #1A120B;
    margin: 22px ;
    position: relative;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}
.offer .offerbigbox .offerBox:hover{
    background-color: #3c2a21ae;
}
.offer .offerbigbox .offerBox:hover h2{
   color: #D5CEA3;
}
.offer .offerbigbox .offerBox:hover p{
    color: #1A120B;
}
.offer .offerbigbox .offerBox .offerboxtext{
    text-align: left;
    width: 80%;
    position: absolute;
    right: 12px;
    top: 20px;
    text-transform: capitalize;
}
.offer .offerbigbox .offerBox h2{
font-size: 24px;
color: #3C2A21;
margin: 12px 0;
}
.offer .offerbigbox .offerBox p{
color: #735F32;
}
.offer .offerbigbox .offerBox i{
display: block;
color: #C69749;
font-size: 25px;
/* float: left; */
position: absolute;
left: 18px;
top: 33px;
}
/* -------------------  end offer section ----------------------- */
.why{
    margin: 120px auto;
    overflow: hidden;
}
.why .title {
    text-align: left;
    margin: 40px 140px;
    color: #1A120B;
}
.why .title .line{
    text-align: left;
    margin: 8px 0;
}
.why .whybigbox{
    width: 94%;
    margin: 0 140px;
    display: inline-block;  
}
.why .whyleftbox{
width: 46%;
float: left;
}
.why .whyleftbox p{
margin: 22px 0;
line-height: 1.5;
color: #735F32;
}
.why .whyleftbox ul{
list-style: none;
line-height: 2.5;
}
.why .whyleftbox ul li{
    color: #AD8E70;
}
.why .whyleftbox ul li i{
color: #C69749;
margin: 0 12px 0 0 ;
font-size: 14px;
}
.why .whyrightbox{
    width: 46%;
    float: right;
    position: relative;
    padding: 33px 2px;
}
.why .whyrightbox img{
/* width: 100%; */
}
.why .whyrightbox .whycirc{
 margin: 4px ;
 position: absolute;
 left: 150px;
 bottom:0px;
}
.why .whyrightbox .whycirc .circl{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #C69749;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.why .whyrightbox .whycirc .circl:nth-child(2){
    background-color: #1A120B;
}
.why .whyrightbox .whycirc .circl:hover {
    background-color: #3C2A21;
}
/* -------------------  end why section ----------------------- */
.numbers{
    margin: 120px auto 0 auto;
    text-align: center;
    background-image: url(../img/R.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
 }
 .numbers .overlay{
    background-color: #3c2a21cf;
    z-index: 100;
    width: 100%;
    height: 100%;
 }
.numbers .numbersmallBoxes{
display: inline-block;
margin: 60px 12px 0px 12px;
text-align: center;
width: 222px;
height: 180px;
line-height: 1.5;
}
.numbers .numbersmallBoxes i{
    font-size: 33px;
    color: #E5E5CB;
    -webkit-text-stroke: 2px #C69749;
    margin-bottom: 12px;
}
.numbers .numbersmallBoxes h2{
color: #C69749;
}
.numbers .numbersmallBoxes h5{
color: #D5CEA3;
text-transform: capitalize;
}
/* -------------------  end numbers section ----------------------- */
.pricing{
    margin: 0px auto;
    background-color: #E5E5CB;
    padding: 80px 12px;
}
.pricing .pricingbigbox{
text-align: center;
}
.pricing .pricingbigbox .pricingboxes{
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    display: inline-block;
    margin: 30px;
    padding: 30px 20px;
    border: 2px solid #735F32 ;
    width: 24%;
    text-align: center;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
.pricing .pricingbigbox .pricingboxes:hover{
    background-color: #736032d3;
}
.pricing .pricingbigbox .pricingboxes:hover span {
   color: #E5E5CB;    
}
.pricing .pricingbigbox .pricingboxes:hover em{
    color: #1A120B;    
 }
.pricing .pricingbigbox .pricingboxes:hover i {
    color: #E5E5CB;    
 }
 .pricing .pricingbigbox .pricingboxes:hover li {
    color: #D5CEA3;    
 }
 .pricing .pricingbigbox .pricingboxes:hover .pricingcirc strong {
    color: #E5E5CB;    
 }
 .pricing .pricingbigbox .pricingboxes:hover button{
    color: #735F32;
 }
.pricing .pricingbigbox .pricingboxes ul{
 list-style: none;
 line-height: 2;
 text-align: left;
 margin: 22px auto;
 width: 45%;
}
.pricing .pricingbigbox .pricingboxes ul li{
    color: #1A120B;
}
.pricing .pricingbigbox .pricingboxes ul li i{
margin-right: 8px;    
color: #735F32;
}
.pricing .pricingbigbox .pricingboxes span{
display: block;
font-size: 22px;
color: #735F32;
margin: 12px 0 24px 0;
font-weight: 700;
}
.pricing .pricingbigbox .pricingboxes button{
       padding: 16px 20px;
       font-size: 16px;
       margin-bottom: 12px;
       text-decoration: none;
       border: none;
       background-color: #C69749;
       color: #D5CEA3;
       border-radius:15px;
       -webkit-border-radius:15px;
       -moz-border-radius:15px;
       -ms-border-radius:15px;
       -o-border-radius:15px;
}
.pricing .pricingbigbox .pricingboxes button a{
    text-decoration: none;
    color: unset;   
}
.pricing .pricingbigbox .pricingboxes .pricingcirc{
    width: 100px;
    height: 100px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    border: 2px solid #C69749;
    text-align: center;
    padding: 20px;
    margin: 8px auto;
}
.pricing .pricingbigbox .pricingboxes .pricingcirc strong{
color: #735F32;
font-size: 33px;
} 
.pricing .pricingbigbox .pricingboxes .pricingcirc em{
color: #D5CEA3;
}
/* -------------------  end pricing section ----------------------- */
.team{
       background-image: url(../img/coffee-types-explained-scaled.webp);
       background-attachment: fixed;
       width: 100%;
       background-size: cover;
       padding: 60px 0;
       margin: 0 auto 120px auto;  
       position: relative;
       z-index: 1;
    }
    .team .overlay_ver2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a120bad;
        z-index: -1;
    }
.team .teamBigBox{
margin: 0px auto;
width: 80%;
/* background-color: #735F32; */
padding: 12px 8px;
}
.team .teamBigBox .teamsmallbox{
    width: 46%;
    display: inline-block;
    /* background-color: #D5CEA3; */
    padding: 8px;
    margin: 0 12px;
    position: relative;
}
.team .teamBigBox .subteam{
    width: 55%;
    margin: 4px;
    /* background-color: #796443; */
    line-height: 1.5;
    position: absolute;
    left:120px;
    top: 24px;
}
.team .teamBigBox .teamsmallbox img{
     width: 90px;
     height: 80px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border:2px solid #1A120B;
     box-shadow: 2px 5px 2px #1A120B;
}
 .subteam h3{
color: #D5CEA3;
font-size: 18px;
font-weight: 700;
}
  .subteam span{
    color: #C69749;
    font-size: 14px;
    font-weight: 100;
}
.team .teamBigBox .teamsmallbox p{
    padding: 12px ;
    margin:8px;
    color: #E5E5CB;
 }
/* -------------------  end team section ----------------------- */
.ourteam{
    margin: 90px auto 60px auto;  
    /* background-color: #1A120B; */
    padding: 12px;
}
.ourteam .bigourteambox{
width: 75%;
/* background-color: #3C2A21; */
margin: auto;
text-align: center;
}
.ourteam .bigourteambox .smallourteambox{
width: 28%;
display: inline-block;
background-color: #e5e5cbc3;
margin:8px 24px ;
padding: 14px;
line-height: 1.6;
position: relative;
border-radius: 18px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
-ms-border-radius: 18px;
-o-border-radius: 18px;
}
.ourteam .bigourteambox .smallourteambox img{
    width: 85%;
    height: 288px;
    border-radius: 18px;
    display:inline-block ;
}
.ourteam .bigourteambox .soicicons {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 10%;
    padding: 2px;
    margin: 4px;
    display: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.ourteam .bigourteambox .smallourteambox .soicicons i{
    display: block;
    font-size: 30px;
    color: #C69749;
    background-color: #1A120B;
    margin: 1px auto;
    padding: 0px;
}
.ourteam .bigourteambox .smallourteambox .layoutimg{
          width: 100%;
          height:0;
          background-color: #3c2a2189;
          position: absolute;
          top: 0;
          left: 0;
          transition:all .8s ease;
          -webkit-transition:all .8s ease;
          -moz-transition:all .8s ease;
          -ms-transition:all .8s ease;
          -o-transition:all .8s ease;
          border-radius: 18px;
          -webkit-border-radius: 18px;
          -moz-border-radius: 18px;
          -ms-border-radius: 18px;
          -o-border-radius: 18px;
}
.ourteam .bigourteambox .smallourteambox:hover .soicicons{
    display: block;
}
.ourteam .bigourteambox .smallourteambox:hover .layoutimg{
    height: 100%;
}
/* <!-- ------------------------ end our team -------------------- --> */
.news{
    margin: 0 auto 60px auto;
    /* background-color: #E5E5CB; */
    padding: 33px 0;
}
.news .bignewsbox{
width: 80%;
margin: 90px auto 0 auto ;
}
.news .bignewsbox .smallnewsbox{
/* background-color: #73603274; */
position: relative;
display: inline-block;
width: 27%;
height: 544px;
padding: 0 18px 18px 18px;
margin: 0 30px;
text-align: left;
}
.news .layoutimg{
    width: 100%;
    height:0;
    background-color: #c6964981;
    position: absolute;
    top: 0px;
    left: 0px;
    transition:all .8s ease;
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.news .bignewsbox .smallnewsbox:hover .layoutimg{
    height: 100%;
}
.news .bignewsbox .smallnewsbox img{
    display: block;
    text-align: left;
    margin: 0 0 20px 0;
    width: 200px;
    height: 300px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.news .bignewsbox .smallnewsbox  span{
    margin: 16px 2px;
    color: #AD8E70;
    text-transform: capitalize;
}
.news .bignewsbox .smallnewsbox i{
    color: #D5CEA3;
    font-size: 12px;
    margin: 0 0 0 16px;
}
.news .bignewsbox .smallnewsbox h2{
    margin: 18px 0;
    font-size: 16px;
    color: #1A120B;
}
.news .bignewsbox .smallnewsbox  p{
    color: #3C2A21;
    font-size: 16px;
    margin: 22px 0;
    font-weight: 500;
    line-height: 1.8;
}
/* ----------------------------end News---------------------------- */
.footer{
background-color: #1A120B;
text-align: center;
margin: 0 auto;
padding: 30px;
box-shadow: #1A120B 0px 22px 70px 4px;
}
.footer i{
     color: #C69749;
     font-size: 22px;
     border-radius: 50px;
     display: inline-block;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     margin: 14px auto;
     background-color: #E5E5CB;
     width: 36px;
     height: 36px;
     padding-top: 6px;
     box-shadow: 4px 11px 22px #3C2A21;
     text-align: center;
     cursor: pointer ;
     transition: all .4s ease-in;
     -webkit-transition: all .4s ease-in;
     -moz-transition: all .4s ease-in;
     -ms-transition: all .4s ease-in;
     -o-transition: all .4s ease-in;
    
} 
.footer i:hover{
    background-color: #735F32;
    color: #D5CEA3;
}
.footer img{
         margin: 14px auto;
         width: 120px;
         height: 120px;
         display: block;
         border-radius:20px ;
         -webkit-border-radius:20px ;
         -moz-border-radius:20px ;
         -ms-border-radius:20px ;
         -o-border-radius:20px ;
         filter: grayscale(20%);
         box-shadow: #3C2A21 0px 1px 0px, #735F32 0px 8px 22px, #3C2A21 0px 14px 45px;}
.footer span{
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #D5CEA3;
    text-transform: capitalize;
    margin: 8px;
}
/* ----------------------------end footer---------------------------- */